{% extends 'layout.njk' %}

{% block content %}
    <div class="container mt-5">
        <h1 style="color: #E63C2B; font-weight: bold;">Create a job</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-3">
                <label for="inputAssetType" class="form-label">Supervisor/Responsible</label>
                <select class="form-select" id="selectAssetType">
                    <option>Supervisor</option>
                    {# {% for opt in toParse %}
                        <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                    {% endfor %} #}
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputClient" class="form-label">Client</label>
                <select class="form-select" id="selectClient">
                    <option>Client</option>
                    {# {% for opt in toParse %}
                        <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                    {% endfor %} #}
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputStartDateWholeJob" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="inputStartDateWholeJob">
            </div>
            <div class="col-md-2">
                <label for="inputEndDateWholeJob" class="form-label">End Date</label>
                <input type="date" class="form-control" id="inputEndDateWholeJob">
            </div>
            <div class="col-md-2">
                <label for="inputAssignarNumber" class="form-label">Assignar Number</label>
                <input type="text" class="form-control" id="inputAssignarNumber">
            </div>
            {# <div class="col-md-6">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-2">
                <label for="inputPostcode" class="form-label">Postcode</label>
                <input type="text" class="form-control" id="inputPostcode">
            </div>
            <div class="mb-3">
                <label for="jobDescription" class="form-label">Job Description</label>
                <textarea class="form-control" id="jobDescription" rows="3" placeholder="Please describe the job."></textarea>
            </div> #}
            <div class="mb-3">
                <label for="inductionsClearances1" class="form-label">Requirements</label>
                <textarea class="form-control" class="inductions" rows="3" placeholder="Please describe inductions, clearances, permits, etc. required for this job."></textarea>
            </div>
        </form>
        <hr>
        <h2 style="color: #E63C2B; font-weight: bold; width: 100%; margin: 0 auto; text-align: center;">Tasks</h2>
        <br>
        <div id="tasksContainer">
            <h4 style="color: black; font-weight: bold;">Task 1</h4>
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-3">
                    <label for="inputStart" class="form-label">Start Date</label>
                    <input type="date" class="form-control" class="taskDates">
                </div>
                <div class="col-md-3">
                    <label for="inputEndDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" class="taskDates">
                </div>
                <div class="col-md-6">
                    <label hidden>Filler</label>
                </div>
                <!--Start and end time - Yard and Site-->
                <div class="col-md-3">
                    <label for="inputStartYard" class="form-label">Yard Start</label>
                    <select class="form-select" class="taskTimes">
                        <option selected>Choose...</option>
                        {% for i in range(0, 24) %}
                            {% if i < 12 %}
                                <option>{{i}}:00am</option>
                                <option>{{i}}:30am</option>
                            {% else %}
                                <option>{{i % 24}}:00pm</option>
                                <option>{{i % 24}}:30pm</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputStartSite" class="form-label">Site Start</label>
                    <select class="form-select" class="taskTimes">
                        <option selected>Choose...</option>
                        {% for i in range(0, 24) %}
                            {% if i < 12 %}
                                <option>{{i}}:00am</option>
                                <option>{{i}}:30am</option>
                            {% else %}
                                <option>{{i % 24}}:00pm</option>
                                <option>{{i % 24}}:30pm</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputFinishSite" class="form-label">Site Finish</label>
                    <select class="form-select" class="taskTimes">
                        <option selected>Choose...</option>
                        {% for i in range(0, 24) %}
                            {% if i < 12 %}
                                <option>{{i}}:00am</option>
                                <option>{{i}}:30am</option>
                            {% else %}
                                <option>{{i % 24}}:00pm</option>
                                <option>{{i % 24}}:30pm</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputFinishYard" class="form-label">Yard Finish</label>
                    <select class="form-select" class="taskTimes">
                        <option selected>Choose...</option>
                        {% for i in range(0, 24) %}
                            {% if i < 12 %}
                                <option>{{i}}:00am</option>
                                <option>{{i}}:30am</option>
                            {% else %}
                                <option>{{i % 24}}:00pm</option>
                                <option>{{i % 24}}:30pm</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputAsset1" class="form-label">Asset</label>
                    <select class="form-select" class="taskAsset">
                        <option>Asset</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputDriver1" class="form-label">Driver</label>
                    <select class="form-select" class="taskDriver">
                        <option>Driver</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputRigger1" class="form-label">Rigger - 1</label>
                    <select class="form-select" class="taskRiggers">
                        <option>Rigger - 1</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputRigger2" class="form-label">Rigger - 2</label>
                    <select class="form-select" class="taskRiggers">
                        <option>Rigger - 2</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="mb-3" style="margin-bottom: 0px; margin-top: 20px;">
                    <label for="liftingEquipmentManCages1" class="form-label">Lifting Equipment and man cages</label>
                    <textarea class="form-control" class="liftingEquipment" rows="3" placeholder="Please describe lifting equipment and man cages required for this task."></textarea>
                </div>
                <div class="mb-3" style="margin-bottom: 0px; margin-top: 0px;">
                    <label for="counterweightBogMats1" class="form-label">Counterweight and bog mats</label>
                    <textarea class="form-control" class="cwt" rows="3" placeholder="Please describe counterweight and bog mats required for this task."></textarea>
                </div>
                <h5 style="color: black; margin-top: 0px;">Extra riggers</h5>
                <div class="col-md-3">
                    <label for="inputRigger1" class="form-label">Rigger - 1</label>
                    <select class="form-select" id="selectRigger1" class="taskRiggers">
                        <option>Rigger - 1</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputRigger2" class="form-label">Rigger - 2</label>
                    <select class="form-select" id="selectRigger2" class="taskRiggers">
                        <option>Rigger - 2</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputRigger1" class="form-label">Rigger - 3</label>
                    <select class="form-select" id="selectRigger1" class="taskRiggers">
                        <option>Rigger - 3</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputRigger2" class="form-label">Rigger - 4</label>
                    <select class="form-select" id="selectRigger2" class="taskRiggers">
                        <option>Rigger - 4</option>
                        {# {% for opt in toParse %}
                            <option value="{{opt.assetType}}">{{opt.assetType}}</option>
                        {% endfor %} #}
                    </select>
                </div>
            </form>
            <br>
            <br>
            <hr>
        </div>
        <div class="col-12" style="text-align: right; margin-top: 20px;">
            <button type="button" class="btn btn-secondary me-md-2" id="btnAddNewTask">Add new task</button>
            <button type="button" class="btn btn-dark me-md-2">Cancel</button>
            <button type="button" class="btn btn-danger me-md-2" id="">Register</button>
        </div>
        <br>
        <br>
    </div>
    <script src="/javascripts/createjobs.js"></script>

{% endblock %}