<!DOCTYPE html>

<html lang="en">

    {% block header %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{title}}</title>
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            {# <link href="/stylesheets/style.css" rel="stylesheet">     #}
        </head>
    {% endblock %}

    <body>
        <div class = "container" style="padding-left: 20px;">
            {# <img src="/images/logo.png" height="50"> #}
            <ul class="nav justify-content-start">
                <li><img src="/images/logo.png" height="50"></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Allocation history</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Availability</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color: black;" href="#">Assets</a></li>
                        <li><a class="dropdown-item mystyle" href="#">Employees</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Day sheet</a>
                </li>
                {# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Delete</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Delete asset</a></li>
                        <li><a class="dropdown-item" href="#">Delete asset type</a></li>
                        <li><a class="dropdown-item" href="#">Delete client</a></li>
                        <li><a class="dropdown-item" href="#">Delete employee</a></li>
                        <li><a class="dropdown-item" href="#">Delete function</a></li>
                        <li><a class="dropdown-item" href="#">Delete qualification</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Delete location</a></li>
                    </ul>
                </li> #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Link</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Asset-Asset Type</a></li>
                        <li><a class="dropdown-item" href="#">Employee-function</a></li>
                        <li><a class="dropdown-item" href="#">Employee-qualification</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Register</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/newasset">New asset</a></li>
                        <li><a class="dropdown-item" href="/newassettype">New asset type</a></li>
                        <li><a class="dropdown-item" href="/newclient">New client</a></li>
                        <li><a class="dropdown-item" href="/newemployee">New employee</a></li>
                        <li><a class="dropdown-item" href="/newfunction">New function</a></li>
                        <li><a class="dropdown-item" href="/newqualification">New qualification</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/newlocation">Asset location</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Update/Delete</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/upddelasset">Update/Delete asset</a></li>
                        <li><a class="dropdown-item" href="/upddelassettype">Update/Delete asset type</a></li>
                        <li><a class="dropdown-item" href="/upddelclient">Update/Delete client</a></li>
                        <li><a class="dropdown-item" href="/upddelemployee">Update/Delete employee</a></li>
                        <li><a class="dropdown-item" href="/upddelfunction">Update/Delete function</a></li>
                        <li><a class="dropdown-item" href="/upddelqualification">Update/Delete qualification</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/updatelocation">Update location</a></li>
                    </ul>
                </li>     
            </ul>
        </div>

        <div class = "container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/umd/popper.min.js"></script>
        <script src="/javascripts/daysheet.js"></script>
        <style>
            .nav-item a {color: #E63C2B; font-weight: bold;}
            .nav-item a.mystyle {color: #181617; font-weight: bold;}
        </style>
    </body>
</html>