{% extends 'layout.njk' %}

{% block content %}
    <div class="container mt-5">
        <h1 style="color: #E63C2B; font-weight: bold;">Employee to qualification form</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3">
            <div class="col-md-4">
                <label for="inputLinkEmployee" class="form-label">Employee</label>
                <select class="form-select" id="selectEmployee">
                    {% for opt in toParse %}
                        <option value="{{opt.employeeId}}">{{opt.firstName + ' ' + opt.lastName}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputLinkQualification" class="form-label">Qualification</label>
                <select class="form-select" id="selectQualification">
                    {% for opt2 in toParse2 %}
                        <option value="{{opt2.qualificationId}}">{{opt2.qualification}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputExpireDate" class="form-label">Expire Date</label>
                <input type="date" class="form-control" id="inputExpireDate">
            </div>
            <div class="col-12" style="text-align: left;">
                <button type="reset" class="btn btn-dark me-md-2">Reset</button>
                <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal" data-bs-target="#linkBtnCheck">Link</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="container mt-5">
        <h1>Employee-Qualification Link Register</h1>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" valign="middle" style="text-align: center;">Employee</th>
                    <th scope="col" valign="middle" style="text-align: center;">Qualification</th>
                    <th scope="col" valign="middle" style="text-align: center;">Expire date</th>
                    <th scope="col" valign="middle" style="text-align: center;">Unlink</th>
                </tr>
            </thead>
            <tbody>
                {% for a in array %}
                    <tr>
                        <td scope="col" valign="middle" style="text-align: center;">{{a.employee}}</td>
                        <td scope="col" valign="middle" style="text-align: center;">{{a.qualification}}</td>
                        <td scope="col" valign="middle" style="text-align: center;">{{a.expire}}</td>
                        <td scope="col" valign="middle" style="text-align: center;"><button type="button" class="btn btn-danger unlinkbtn" value="{{a.employee+'-'+a.qualification}}">Unlink</button></td>
                    </tr>
                {% endfor %}
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <!--Confirmation form for Update button-->
    <div class="modal fade" id="linkBtnCheck" tabindex="-1" aria-labelledby="linkBtnCheckLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assetAllocationLabel">Are you sure you want to link this employee to this qualification?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark me-md-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal" id="js-link-employee-qualification">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/linkemployeequalification.js"></script>
{% endblock %}