{% extends 'layout.njk' %}

{% block content %}
    <div class="container mt-5">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmployeeFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputEmployeeFirstName" placeholder="John">
            </div>
            <div class="col-md-6">
                <label for="inputEmployeeLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="inputEmployeeLastName" placeholder="Smith">
            </div>
            <div class="col-6">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="50-52 Francis Road">
            </div>
            <div class="col-4">
                <label for="inputSuburb" class="form-label">Suburb</label>
                <input type="text" class="form-control" id="inputSuburb" placeholder="Wingfield">
            </div>
            <div class="col-md-2">
                <label for="inputPostcode" class="form-label">Postcode</label>
                <input type="text" class="form-control" id="inputPostcode" placeholder="5013">
            </div>
            <div class="col-md-4">
                <label for="inputEmployeePhone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="inputEmployeePhone" placeholder="0000 000 000">
            </div>
            <div class="col-md-8">
                <label for="inputClientEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputClientEmail" placeholder="example@craneservices.com.au">
            </div>
            <div class="col-12" style="text-align: right;">
                <button type="reset" class="btn btn-dark me-md-2">Reset</button>
                <button type="submit" class="btn btn-danger me-md-2">Register</button>
            </div>
        </form>
    </div>
{% endblock %}