{% extends 'layout.njk' %}

{% block content %}
    <div class="container mt-5">
        <h1 style="color: #E63C2B; font-weight: bold;">New supervisors form</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3">
            <div class="col-md-3">
                <label for="inputSupervisorFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputSupervisorFirstName">
            </div>
            <div class="col-md-3">
                <label for="inputSupervisorLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="inputSupervisorLastName">
            </div>
            <div class="col-md-4">
                <label for="inputSupervisorEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputSupervisorEmail">
            </div>
            <div class="col-md-2">
                <label for="inputSupervisorPhone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="inputSupervisorPhone">
            </div>
            <div class="col-12" style="text-align: right;">
                <button type="reset" class="btn btn-dark me-md-2">Reset</button>
                <button type="button" class="btn btn-danger me-md-2" id="js-new-supervisor-btn">Register</button>
            </div>
        </form>
    </div>

    <script src="/javascripts/newsupervisor.js"></script>
{% endblock %}