{% extends 'layout.njk' %}

{% block content %}
    <div class="container mt-5">
        <h1 style="color: #E63C2B; font-weight: bold;">Update/delete functions form</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3">
            <div class="col-md-4">
                <label for="inputSearchFunctions" class="form-label">Select Asset</label>
                <select class="form-select">
                    <option>Text1</option>
                    <option>Text2</option>
                </select>
            </div>
            <hr>
            <div class="col-md-12">
                <label for="inputFunction" class="form-label">Function</label>
                <input type="text" class="form-control" id="inputFunction" placeholder="Rigger">
            </div>
            <div class="mb-3">
                <label for="functionDescription" class="form-label">Description</label>
                <textarea class="form-control" id="functionDescription" rows="3" placeholder="Please describe what is expected for this function."></textarea>
            </div>
            <div class="col-12" style="text-align: right;">
                <button type="button" class="btn btn-danger me-md-2">Delete</button>
                <button type="reset" class="btn btn-dark me-md-2">Reset</button>
                <button type="submit" class="btn btn-danger me-md-2">Update</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="container mt-5">
        <h1>Area to show the data</h1>
    </div>
{% endblock %}